.MuiStepLabel-label, .MuiDialogTitle-root, .MuiTableCell-head {
  font-family: Quicksand!important;
  font-weight: bold!important;
  text-decoration: underline;
}

.app-logo {
  cursor: pointer;
}

.step-header-container {
  cursor: pointer;
}
