.MuiStepLabel-label,
.MuiDialogTitle-root,
.MuiTableCell-head {
  font-family: Quicksand !important;
  font-weight: bold !important;
  text-decoration: underline;
}

.MuiTableCell-body,
.MuiTablePagination-displayedRows,
.MuiTypography-h5 {
  font-family: Quicksand !important;
  font-weight: bold !important;
}

.MuiAlert-message,
.filepond--drop-label {
  font-family: Quicksand !important;
}
.MuiTab-root {
  font-size: 12px !important;
}

.app-logo {
  cursor: pointer;
}

.step-header-container {
  cursor: pointer;
}

.custom-label {
  color: white;
  background-color: #a8a292;
  font-size: 12px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  padding: 4px;
  display: flex;
}

input[type='file'] {
  display: none;
}

button:focus {
  outline: none !important;
}
